/Lesson_1
/c1hw1
/Lesson_2_Euklid's_algorithm
/Lesson_2_simple_number_algorithm
/Lesson_2_average_rating_1
/Lesson_2_average_rating_2
/Lesson_2_pseudo_random
/c1hw2
/random
/time_of_programm's_action
/summ_of_numbers
/Lesson_3_reverse_of_number
/Lesson_3_speed_Pow
/Lesson_3_triangle_perimeter
/0_1000
/c1hw3
/Lesson_4_anketa
/c1hw4
/progressbar
/numbers.txt
/c1hw5
/s_sleep_test
/Lesson_6_string_to_double
/c1hw6
/Lesson_6_sizeof
/Lesson_6_realloc
/Lesson_6_3D_arrays
